body {
    color: #0F172A;
    margin: 0;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;

}

.text-italic{
    font-style: italic;
}

.hero-container {
    background-color: #FFF67E;
    position: relative;
    padding-top: 100px;
}




h1 {
    font-size: 5rem;
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
}

.profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 50%;

}

h2 {
    color: #416D19;
    font-size: 2.4rem;
    font-weight: normal;
}


.about-container {
    margin: 100px 0;
}

.projects{
    padding: 0;
}

.project-container{
    display: flex;
    flex-direction: column;
}

.intro {
    width: 50%;
    margin: auto;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #37455B;
}

.project-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
}

.project-card{
    width: 22.5%;
    padding: 1.5rem;
    background-color: #BFEA7C;
    border-radius: 20px;
}

.contact-links{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 10%;
}

.contact-paragraph{
    padding-left: 2rem;
    padding-right: 2rem;
}