html {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #111;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1px;
}

@media(max-width: 500px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

a {
    text-decoration: none;
    color: #466;
}

a:hover {
    color: #111;
}

a:visited {
    color: #222;
}


#main {
    margin: 30px 6px;
    padding: 20px;
    border-radius: 10px;
    background: #FECACA;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
    border-radius: 6px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;

}

#img-caption {
    margin: 15px 50px;
}

@media (max-width: 500px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#headline {
    margin: 25px 0;
    text-align: center;
}

ul {
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;

}

li {
    margin: 12px 0;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

cite {
    font-weight: 700;
}